.header {
  background-color: #ffffff;
  color: #0f0f0f;
  margin-top: -30px;
  text-align: center;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.form > input {
  width: 30%;
  padding: 10px;
  margin-left: 910px;
  margin-top: -15px;
  margin-bottom: 6px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.company {
  text-align: left;
  padding-top: 50px;
  padding-left: 40px;
  font-weight: 300;
  font-size: xx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
}
